/* Start custom CSS */.iframeDivDiv {width: 50%; float: right; padding-left: 50px;}

@media(max-width: 767px) {
    .iframeDivDiv {width: 100%; float: none; padding-left:0px; padding-bottom: 20px;}
}/* End custom CSS */