.elementor-9204 .elementor-element.elementor-element-73b166a7 > .elementor-container{max-width:1300px;}.elementor-9204 .elementor-element.elementor-element-7c47e38 > .elementor-container{max-width:1300px;}.elementor-9204 .elementor-element.elementor-element-7c47e38{margin-top:0%;margin-bottom:2%;}/* Start custom CSS for section, class: .elementor-element-7c47e38 */#formCraftsForm > div > div {
	    max-width: 526px;
    background: #ebf1f9;
    padding: 30px;
    border-radius: 15px;
        float: none;
    margin: 0 auto;
}/* End custom CSS */
/* Start custom CSS */.billing-quiz-ver1 {display:block !important;}/* End custom CSS */